@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

/* Method to declare fonts */
@font-face {
	
    font-family: VintageOne;
    src: url(../assets/fonts/VintageOne.ttf);
}

@font-face {
    font-family: VintageDisplay;
    src: url(../assets/fonts/VintageDisplay.ttf);
}

@font-face {
font-family: ChampagneandLimousinesBold;
    src: url(../assets/fonts/Champagne&LimousinesBold.ttf);

}

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/
#bodyColor {
    padding-bottom: 5px;
    background-color: rgba(233, 221, 183, 0.89);
}


.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Some simple CSS rules for styling p, h1 to h6, etc. in the main contents container
*/

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    
	font-family: 'Oswald', sans-serif;
	/*font-family: SlimPlayFont;*/
}


#main_text {
    float: right;
    position: left;
    margin: 5%;
    
    display: block;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    border-radius: 20px;
    height: 201px;
    width: 1500px;
    margin-bottom: 10px;
    margin-left: 350px;
    margin-top: 0;
}
#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 



.logo {
    margin-top: 3px;
    width: 100px;
    height:60px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Palestine.png);
    
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(212, 173, 114, 0.87);
}

.card-header #rowColor
{
    background-color: grey;
    color: grey;
}


/* CSS rule to overwrite the navbar-default background and border colors*/

.webContent{

    margin-right: 25px;
    margin-left: 25px;
}
.navbar_ps {
    background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6));
    background-color:rgb(27, 74, 136); /* Set navbar background color */

   z-index: 99999;
    margin-top:10px;
    /*margin-right: 25px;
    margin-left: 25px;*/
    box-shadow: 0 15px 15px -15px rgba(0,0,0,20);
    min-height: 70px;
}

    
/* CSS rule to overwrite the navbar-brand font hover color
*/

.navbar_ps .navbar-nav{

    margin-right: 800px;
}
.navbar_ps .navbar-item:hover {
    color: rgba(73, 41, 6, 0.884);
}

/* NAVIGATION MENU
*/

.navbar_ps .navbar-nav > li > a {
   
    color: white;
    font-family: ChampagneandLimousinesBold;
    font-size: 20px;
    margin: 5px;
   

   
}

/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_ps .navbar-nav > li > a:hover, 
.navbar_ps .navbar-nav > li > a:focus {
    color: rgba(73, 41, 6, 0.884); 
}

.navbar_ps .navbar-nav .nav-item {
    margin-top: 0px;
}

/* CSS rule to overwrite the bootstrap.css rules for setting the active font color and background colour
*/
.navbar_ps .navbar-nav .nav-item > .active, 
.navbar_ps .navbar-nav > .active > a:hover, 
.navbar_ps .navbar-nav > .active > a:focus {
    color:  black; /* Font color for active font */
    background-color: rgba(83, 52, 17, 0.308);; /* Blue color for background */
}

/* A set of CSS rules to change the Bootstrap defaults for the menu link text color, hover, background, focus
*/
    

/* These next two CSS rules control the style of the icon bar */
.navbar_ps .navbar-toggler {
    border-color: white;
}

.navbar_ps  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_ps .navbar-toggler {
    outline: none !important;
}




.dropdown-menu {
    text-align: -webkit-right;
    background-color: #eb9a91;
    margin-top: 20px; /* Experiment to move the dropdown menu down */
}

.dropdown-menu
.dropdown-item {
    color: #f1ee08;
}

.dropdown-menu
.dropdown-item:hover {
    color: #030303;
    background-color: #e98074;
}

/* CSS rule to style the footer */
.footer {
    color: #FFF;
    background-color: #3f3627;
    height: 50px;
}

.navbar-text > a {
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

.navbar-text > p {
    color: rgb(64, 228, 15);
    font-size: 15px;
    text-decoration: none;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
}

.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    
}


.camera-btns {
    /* background-color: rgba(0, 0, 255, 0.3);  */
    border-color: black; 
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
}

.camera-btns > p  {
    font-size: 15px;
    color: red;
    padding: 5px 0px;
    font-weight: 900; 
}

.camera-font {
    font-weight: 400;   
    color: white;
}

.camera-font:hover {
    font-weight: 700;   
    color: rgb(3, 3, 3);
}

.btn-responsive {
    padding: 10px 10px;
    font-size: 90%;
    line-height: 1.2;
    white-space: normal !important;
}

.gallery-header {
    color: white;
}

.gallery-header:hover {
    color: green;
    border: 1px solid transparent;
}

.model3D  {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    /*border: 1px solid rgba(0, 0, 0, 1.0);*/
    padding: 2px;
    height: 500px;
}


X3D, x3d {
    border-radius: 20px;
    /*border: 1px solid rgba(255, 0, 0, 1.0);*/
    width: 100%;
    height: 100%
    
}

.gallery .img-thumbnail{
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0.25rem;
    margin: 5px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 43%;
    height: auto;
}

.homeText > h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.homeText > h3 {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.homeText > p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
}

#modelsHeader
{

   
    padding-left: 380px;


}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}




  
  
/*-----------------------------------FOOD SECTION--------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Nunito");
.container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1200px;
  /*margin: 0 auto;*/
}


.image-container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 8px 8px 0 0;
 
}

.image-item {
  margin: 0 0px 0px 0px;
  padding: 10px;
  text-align: center;
  /*width: calc(25% - 8px);*/
  height: 120px;
  color: #fafafa;
  border-radius: 4px;
}

.image-hidden {
  display: none;
}

#recp{
  margin-top: 70px;
}


*, *::before, *::after {
  box-sizing: border-box;
}


#foodButtons{
  margin-top: 100px;
}

/*m glemlmglrmglrmglrmglrmglrmglrmglrmglrmglrmglr*/


.imageContainer{
    position:relative;
    width:210px;
    height:210px;
    float:left;
    margin:5px;
  }
  /* Fix image into container */
  img{
    width:100%;
    height:100%;
  }
  
  /* Subclass of imageContainer*/
  .overlayText{
    position: absolute;
    top:10px;
    bottom:0px;
    left:0px;
    right:0px;
    opacity:0;
    background:#000000;
    color: yellow;
    font-size:25px;
    font-family:sans serif;
    letter-spacing:9px;
    margin:10px;
    padding:20px;
    transition:0.3s ease-in;
  }
  
  .overlayText:hover{
      opacity: 0.7;
      cursor:pointer;
   }







  /*------------------------------------CSS RULES FOR THE GAME PAGE-----------------------------------------*/


  /*-----Cover Photo and game description----*/

  #topPhotoGame {
    margin-top: 15px;
    margin-left: 60px;
    background: url(../assets/images/background4.jpg) no-repeat ;
    background-position: relative;
   background-size: cover;
    
    height:662px;
   
   
}

#Gametitle {
    float:right;
    /*margin: 35px;*/
    margin-top: 140px;
    margin-right: 30px;
    width: 100%;
    display: block;
    background-color: transparent;
    padding: 25px;
    border-radius: 15px;
}
#Gametitle h4 {
    color: rgb(0, 0, 0);
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: justify;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.288);

  font-family: ChampagneandLimousinesBold;
}


/*CSS Rules for the headings in the game section*/
#GameContent h4{

    font-family: 'VintageOne';
    font-size: 80px;
    line-height: 21px;
    font-weight: 300;
    color:black;
    position: center;
    float: center;
    text-align: center;
  
  }
  #GameContent h3{

    font-family: 'ChampagneandLimousinesBold';
    font-size: 40px;
    line-height: 21px;
    font-weight: 300;
    color:black;
   
  }

/*General commons rules for the sections*/

.story,
#play, #developers,
#characters,
.contact, .slideshow,
#contact-form,
#social-media {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

/*CSS Rules for the sidebar in the Game Page*/

.main {
  height: 200vh;
  min-height: 1000px;
}

.side-bar {
 
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  transition: all 0.25s ease-out;
 
  min-height: 200px;
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: 12% ;
  margin: 0.5rem 0;
  background-color: #ccab63;
  border-radius: 10px; 
  border-color: black;
  min-width: 15em;
 margin-top: 110px;

}

.tabs {
  list-style: none;
  color: white;
  font-family: 'ChampagneandLimousinesBold';
  margin: 5%;
}
.tabs a {
  text-decoration: none;
  color: white;
}
.tabs li {
  padding: .25em;
  font-size: 1.5em;
  transition: all .2s ease;
}
.tabs li:hover {
  color: #3f2b18;
  padding-right: 1em;
  font-size: 2em;
}

/*---------------------Story Section-----------------------*/

.story {
  background-color: #F8ECC2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 17px dashed  rgb(162, 193, 161);
  padding-bottom: 40px;
  padding-top: 100px;
  
}

.story-box {
  max-width: 300px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  -ms-flex-line-pack: center;
  margin: 20px;
  margin-right:0px;
  border: 6px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.story-caption {
  position: relative;
  top: -20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  display: block;
  font-size: 1.6em;
  font-family: 'Damion', cursive;
  transition: all .2s ease-in-out;
}

.story-box:focus .story-caption,
.story-box:hover .story-caption {
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  color: #e97462;
}


.story p{

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0% 5% 5% 5%;
}



/*CSS rules for the slideshow in the Game Page*/

.carouselGame {
  display: none;
  max-width: 100%;
}

#slideshow {
  align-self: center;
  margin: 10px;
  border: 10px solid #f8f2dc;
  padding: 0;
  border-radius: 10px;
  position: relative;
  background-color: #f8f2dc;
  display: flex;
  flex-flow: column wrap;
  max-width: 800px;
  box-shadow: 0 2px 2px rgb(87, 124, 123);
  /*overflow: hidden;*/
}

#prev,
#next {
  cursor: pointer;
  width: 10px;
 z-index: 99;
  color: black;
  position: absolute;
  margin-top: -60px;
  top: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: #f8f2dc;
  font-weight: bold;
}

#prev {
  border-radius: 0 60px 60px 0;
  left: -5px;
}

#next {
  border-radius: 60px 0 0 60px;
  right: -3px;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  display: none;
}


/*-----------------------Characters Section----------------------------*/

#characters {
  background-color: rgb(162, 193, 161);
 
  border-bottom: 17px dashed rgb(139, 75, 67);
}

#mahmoudCharacter{

  margin-top: 5%;
  margin-bottom: 5%;
}


.mahProfile {
    
  
  margin: 60px auto;
  position: relative;
  overflow: hidden;
  
}
.mahProfile:hover img {
  opacity: .7;
}
.mahProfile:hover h3 {
  transform: translate(0, 0);
}
.mahProfile img {
  transition: .4s;
}


.mahProfile h3 {
  position: absolute;
  left: 15pt;
  bottom: 2pt;
  padding: 7px 8px;
  margin: 0;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
  color: #FFF;
  font-size: 1px;
  
  background-color: rgba(255, 255, 255, 0.623);
  transform: translate(0, 100%);
  transition: .4s;
  
}

#secondaryCharacters{

  margin: 5% 0% 5% 0%;
  
}
.mahmoud-character {
 
 margin-top: 60px;
  margin-bottom: 0px;
  margin-left:0px;
  display: flex;
  flex-flow: column wrap;
}

.mahmoud-character_images {
  border: 2px solid #fff;
  border-radius: 5px;
  max-width: 250px;
  
}

.mahmoud-character_content {
  display: flex;
  flex-flow: column wrap;
  margin-top: 60px;
  margin-left: 0px;
}

.mahmoud-character h3 {
  text-align: left;
  color: #5F180E;
}

.mahmoud-character_caption {
  font-weight: bold;
  border-bottom: 1px solid #5F180E;
  color: #5F180E;
  margin-top: 5%;
}

.option {
  border: none;
  border-radius: 10px;
  padding: 10px;
 /*margin-left: auto;*/
  background-color: #5F180E;
  color: #fff;
  width: 100px;
}

.option:focus,
.option:hover {
  background-color: #8b2315;
  box-shadow: 3px 3px 3px #5F180E;
}


.option2 {
  border: none;
  border-radius: 10px;
  padding: 10px;
 /*margin-left: auto;*/
  background-color: #5F180E;
  color: #fff;
  width: 100px;
}

.option2:focus,
.option2:hover {
  background-color: #8b2315;
  box-shadow: 3px 3px 3px #5F180E;
}

.PlayNow{

  width: 410px;
  height: 120px;
}

.PlayNow:hover{

  transform: scale(1.1);
  transition: .4s;

}

/*---Media Queries---*/




   /* CSS rules for the card flip in the Game section*/


   @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

   @import url(http://weloveiconfonts.com/api/?family=entypo);
   
   /* entypo */
   [class*="entypo-"]:before {
     font-family: 'entypo', sans-serif;
   }
   
   * {
     -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
   
   
   .gradient {
   background: rgb(243,244,229);
   background: -moz-linear-gradient(top,  rgb(243,244,229) 0%, rgb(226,227,217) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(243,244,229)), color-stop(100%,rgb(226,227,217)));
   background: -webkit-linear-gradient(top,  rgb(243,244,229) 0%,rgb(226,227,217) 100%);
   background: -o-linear-gradient(top,  rgb(243,244,229) 0%,rgb(226,227,217) 100%);
   background: -ms-linear-gradient(top,  rgb(243,244,229) 0%,rgb(226,227,217) 100%);
   background: linear-gradient(to bottom,  rgb(243,244,229) 0%,rgb(226,227,217) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4e5', endColorstr='#e2e3d9',GradientType=0 );
   
   }
   
   img {
     display: block;
     
   }
   
   .characterCard-container {
     width: 320px;
     height: 320px;
     position: relative;
     perspective: 1200px;
     margin-right: 20px;
   }
   
   .characterCard {
     width: 100%;
     height: 100%;
     position: absolute;
     transform-style: preserve-3d;
     transition: transform 1s;
     transform-origin: right center;
    
   }
   
   .face {
     display: block;
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
   }

  
   
   .front {
     background-color: rgb(89, 85, 78);
     background-image: url(https://distilleryimage4.s3.amazonaws.com/8b29e246f53011e19ed5123138017d74_7.jpg);
     background-size: 100% auto;
     border-radius: 6px;
     box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.1);
     overflow: hidden;
   }

   .characterCard:hover {
   
    box-shadow: 40px 0px 40px 0px rgba(0, 0, 0, 0.664);
   }
   
   .back {
     /*background-color: rgb(162, 193, 161);*/
     background-color: rgb(191, 193, 161);
     transform: rotateY(180deg);
     border-radius: 6px;
     box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
     overflow: hidden;
     padding: 20px;
   }

   
   
   .flipped {
     transform: translateX(-100%) rotateY(180deg);
   }
   
   h1 {
     font-family: 'Open Sans' sans-serif;
     font-size: 22px;
     line-height: 28px;
     font-weight: 700;
     color: rgb(89, 85, 78);
   }
   
   .text > p {
     font-family: 'Open Sans' sans-serif;
     font-size: 14px;
     line-height: 19px;
     font-weight: 300;
     color: rgb(89, 85, 78);
     text-align: justify;
     text-justify: inter-word;
     line-height: 1.6;
   }
   
   .icons {
     color: rgb(89, 85, 78);
     font-size: 30px; 
     text-align: center;
   }
   
   .text {
     width: 100%;
     height: 300px;
   }
   
   .back span:hover {
     color: rgb(39, 35, 28);
   }
   
   .back span {
     margin-right: 40px;
     transition: all .5s ease;
   }
   
   .back span:last-of-type {
     margin-right: 0;
   }
   
   
   


/*---------------------------------Play Section------------------------------------*/


.play {
  
  background-color: rgb(139, 75, 67);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 17px dashed  rgb(136, 132, 124);
  padding-bottom: 40px;
  padding-top: 100px;
  
}

.play > p {

  font-family: 'Open Sans' sans-serif;
  font-size: 23px;
  line-height: 19px;
  font-weight: 300;
  color: black;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  margin: 10% 2% 5% 2%;
}

.playButton {
 margin:5%;
}

.pressPlay{
	    border: none;
	    border-radius: 5px;
	    padding: 20px;
	    margin: 10px 0px 10px 0px;
	    font-size: large;
	    color: #333;
	    background-color: #f39c12;
	    box-shadow: 0px 10px 0px #e67e22;
	    cursor: pointer;
}

.pressPlay:hover {
  position: relative;
  top: 5px;
  box-shadow: 0px 5px 0px #e67e22;
}

.webgl-content{
  margin-top: 50px;
}
/*-------------------------------Developers Section-----------------------------*/

.developers {
  
  background-color:  rgb(136, 132, 124);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  
  padding-bottom: 40px;
  padding-top: 100px;
  
}

@media (min-width: 600px) {
  .mahmoud-character_images {
    min-width: 400px;
  }
  
  .story {
    flex-flow: row wrap;
  }
  .story h2,
  .about h2 {
    flex: 100%;
  }
  .story-box
    {
    flex: 1;
    max-width: auto;
  }
}

@media (min-width:700px) {
  #contact-form {
    margin: auto;
    max-width: 700px;
  }
}

@media (min-width: 900px) {
  .mahmoud-character {
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
  }
  
  .story-box {
    max-width: 400px;
  }
  #header-robot {
    margin-top: -80px;
  }
  .nav-link {
    font-size: 1.7em;
    font-family: 'Damion', cursive;
  }
}

@media (min-width: 1200px) {
  #characters {
    align-items: center;
  }
  .mahmoud-character {
    max-width: 1200px;
  }
}

/*- - - - - - C O N T A C T - C A R D S - - - - - */


 /*- - - -------------- - HOME- ------------------- - - - */


 /*--Top Photo--*/

 
.photo{
  padding: 4rem 0 4rem 0;
  z-index: auto;
  /*-- margin-top: 8rem; --*/
  
}

#topPhotoHome {
  
  
  background: #777 url("http://www.grup-pumsa.cat/uploadwallimgs/b/20/207278_palestine-wallpaper.jpg") no-repeat;
  background-position: top;
  /*background-size: cover; */
  margin-right: 15px;
  margin-left: 15px;
  margin-top:10px;
  background-size: 1800px 800px;
   height: 700px;
  
}

/*- - - -------------- - Carousel- ------------------- - - - */

.hometitle {
  background-color: rgba(255, 255, 255, 0.822);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 500px;
  opacity: .8;
  max-width:35%;
  border-radius: 6px;
  z-index: 999;
}


.contmin {
  max-width: 100%;
  margin-top: 0px;
  
}


.carousel-item {
height:750px;

background: rgba(0,0,0,.75);
background-size: cover;
}

.carousel-control-next, 
.carousel-control-prev {
top: 3rem;
width: 10%;
}

.carousel-caption {
height: 10rem;
bottom: 2rem;
z-index: 10;
left: 0;
right: 0;
padding: 1.25rem 6rem;
background-color: rgba(255,255,255, 0.5);
color: inherit;
}

.carousel-caption h1 {
font-size: 35px;
}

.carousel-caption p {
font-size: 1.3rem;
line-height: 1.2;
}

.carousel-caption .btn {
font-size: .85rem;
line-height: 1.2;
}



.card-img-overlay {
  transform: translateY(13rem);
  transition: transform .18s ease-in;
  background-color: black;
}
.card-img-overlay .card-text {
  opacity: 0;
  transform: translateY(-6rem);
  transition: opacity .05s ease-in, transform .25s ease-in;
}
.card-img-overlay .btn {
  opacity: 0;
  transform: translateY(2rem);
}

.card:hover .card-img {
  mix-blend-mode: overlay;
}
.card:hover .card-img-overlay {
  transform: translateY(0);
  transition: transform .25s ease-out;
  background-color: rgba(0, 0, 0, 0.1);
}
.card:hover .card-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity .5s ease-out, transform .2s ease-out;
}
.card:hover .btn {
  opacity: 1;
  transform: translateX(0);
  transition: opacity .7s ease-out, transform .35s ease-out;
}




.img-scale:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(30%);

  
}






.spacer {
  border-bottom: 1px solid transparent;
  width: 80%;
  margin: 2px auto;
}

.card-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.personal-card {
  background-color: rgba(126, 110, 77, 0.315);
  border: 20px solid rgb(68, 66, 62);
  width: calc(100% / 3 - 20px);
  min-width: 250px;
 
  margin: 50px 10px 10px 10px;
  padding: 30px 0;
  border-bottom: 2px solid #ccc;
}

.personal-image {
  margin: auto;
  text-align: center;
  height: 148px;
}
.personal-image img {
  margin: auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #000000;
}

.personal-info {
  text-align: center;
  padding-top: 30px;
  font-family: "HKGrotesk", sans-serif !important;
}

.name {
  font-size: 14pt;
  font-weight: bold;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.icon {
 
  padding: 1px;
  margin: 2px;
  font-size: 14pt;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

.icon:hover {
  background-color: #ccc;
 
  padding: 1px;
}

.personal-image:hover img{

  transform: scale(1.08);
  transition:0.3s ease-in;
  transition:0.3s ease-out;
}

.personal-card:hover{
  scale: 3;
  background-color: rgba(204, 204, 204, 0.589);
  transition:0.3s ease-in;
  transition:0.3s ease-out;
}



.developers h4{

  font-size: 15px;
}